/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 378px;
height: 408px;
left: 12px;
top: 197px;

background: linear-gradient(180deg, #EDF2FD 0%, rgba(236, 240, 250, 0.67) 25%, rgba(233, 236, 245, 0.2) 100%);
border-radius: 16px;


/* Group 86 */

position: absolute;
width: 343px;
height: 157px;
left: 29px;
top: 219px;



/* 我的健康数据 */

position: absolute;
width: 90px;
height: 18px;
left: 34px;
top: 219px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;



/* 修改 */

position: absolute;
width: 26px;
height: 16px;
left: 341px;
top: 219px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: #3F2DFF;



/* 更新于16:46 */

position: absolute;
width: 74px;
height: 16px;
left: 134px;
top: 220px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: #7F88AA;



/* Group 42 */

position: absolute;
width: 196px;
height: 35px;
left: 172px;
top: 329px;



/* Rectangle 68 */

position: absolute;
width: 196px;
height: 35px;
left: 172px;
top: 329px;

background: #CBD6FF;
border-radius: 59px;


/* 您的目标：48kG */

position: absolute;
width: 99px;
height: 16px;
left: 221px;
top: 339px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: #000000;



/* Group 41 */

position: absolute;
width: 127px;
height: 127px;
left: 29px;
top: 249px;



/* Ellipse 21 */

position: absolute;
width: 127px;
height: 127px;
left: 29px;
top: 249px;

background: #FFFFFF;
box-shadow: 3px 2px 5.3px rgba(125, 151, 190, 0.17);


/* Group 38 */

position: absolute;
width: 97.92px;
height: 91.28px;
left: 43.54px;
top: 264.4px;



/* Ellipse 22 */

box-sizing: border-box;

position: absolute;
width: 29.87px;
height: 44.81px;
left: 43.54px;
top: 267.72px;

border: 10px solid #E2EBFF;


/* Ellipse 22 */

box-sizing: border-box;

position: absolute;
width: 24.89px;
height: 43.15px;
left: 43.54px;
top: 312.53px;

border: 10px solid #4EADFF;


/* Ellipse 22 */

box-sizing: border-box;

position: absolute;
width: 26.55px;
height: 3.32px;
left: 73.41px;
top: 264.4px;

border: 10px solid #E2EBFF;


/* Ellipse 22 */

box-sizing: border-box;

position: absolute;
width: 39.83px;
height: 89.62px;
left: 101.63px;
top: 265.08px;

border: 10px solid #E2EBFF;


/* Group 40 */

position: absolute;
width: 49px;
height: 21px;
left: 71px;
top: 289px;



/* BMI */

position: absolute;
width: 22px;
height: 15px;
left: 98px;
top: 294px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #7F88AA;



/* 23 */

position: absolute;
width: 25px;
height: 21px;
left: 71px;
top: 289px;

font-family: 'SF Pro';
font-style: normal;
font-weight: 860;
font-size: 18px;
line-height: 21px;

color: #000000;



/* Group 39 */

position: absolute;
width: 41px;
height: 18px;
left: 72px;
top: 319px;



/* Rectangle 71 */

position: absolute;
width: 41px;
height: 18px;
left: 72px;
top: 319px;

background: #D6EBFF;
border-radius: 3px;


/* 正常 */

position: absolute;
width: 24px;
height: 15px;
left: 81px;
top: 321px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #1694FF;



/* Group 59 */

position: absolute;
width: 191px;
height: 47px;
left: 181px;
top: 262px;



/* Group 57 */

position: absolute;
width: 41px;
height: 47px;
left: 181px;
top: 262px;



/* 30 */

position: absolute;
width: 27px;
height: 24px;
left: 181px;
top: 262px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;



/* 年龄/岁 */

position: absolute;
width: 41px;
height: 15px;
left: 181px;
top: 294px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #7F88AA;



/* Vector 5 */

position: absolute;
width: 4px;
height: 8px;
left: 216px;
top: 270px;

border: 1.5px solid rgba(0, 0, 0, 0.22);


/* Group 56 */

position: absolute;
width: 45px;
height: 47px;
left: 249px;
top: 262px;



/* 49 */

position: absolute;
width: 27px;
height: 24px;
left: 249px;
top: 262px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;



/* 体重/KG */

position: absolute;
width: 45px;
height: 15px;
left: 249px;
top: 294px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #7F88AA;



/* Vector 6 */

position: absolute;
width: 4px;
height: 8px;
left: 281px;
top: 270px;

border: 1.5px solid rgba(0, 0, 0, 0.22);


/* Group 55 */

position: absolute;
width: 51px;
height: 47px;
left: 321px;
top: 262px;



/* 163 */

position: absolute;
width: 37px;
height: 24px;
left: 321px;
top: 262px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;



/* 身高/CM */

position: absolute;
width: 48px;
height: 15px;
left: 324px;
top: 294px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #7F88AA;



/* Vector 7 */

position: absolute;
width: 4px;
height: 8px;
left: 364px;
top: 270px;

border: 1.5px solid rgba(0, 0, 0, 0.22);


/* Rectangle 99 */

position: absolute;
width: 351px;
height: 202px;
left: 26px;
top: 386px;

background: #FFFFFF;
border-radius: 13px;


/* Group 25 */

position: absolute;
width: 84px;
height: 24px;
left: 139px;
top: 400px;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 84px;
height: 24px;
left: 139px;
top: 400px;

opacity: 0.4;
border: 1px solid rgba(63, 45, 255, 0.6);
border-radius: 6px;


/* 执行中·第2天 */

position: absolute;
width: 69px;
height: 12px;
left: 147px;
top: 406px;

font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 12px;
/* identical to box height, or 109% */

color: #3F2DFF;



/* 轻盈计划 */

position: absolute;
width: 90px;
height: 26px;
left: 43px;
top: 399px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */

color: #131142;



/* Rectangle 25 */

position: absolute;
width: 3px;
height: 12px;
left: 26px;
top: 222px;

background: linear-gradient(180deg, #1F2AFF 0%, #397EFF 100%);
border-radius: 17px;


/* 查看数据 */

position: absolute;
width: 52px;
height: 16px;
left: 306px;
top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: #3F2DFF;



/* Rectangle 102 */

position: absolute;
width: 49px;
height: 86px;
left: 319px;
top: 437px;

background: #EEEFFC;
border-radius: 6px;


/* 63% */

position: absolute;
width: 25px;
height: 15px;
left: 332px;
top: 501px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;



/* 日 */

position: absolute;
width: 16px;
height: 17px;
left: calc(50% - 16px/2 - 145px);
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #7F88AA;



/* 一 */

position: absolute;
width: 16px;
height: 17px;
left: calc(50% - 16px/2 - 98px);
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #7F88AA;



/* 二 */

position: absolute;
width: 17px;
height: 17px;
left: calc(50% - 17px/2 - 51.5px);
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #7F88AA;



/* 三 */

position: absolute;
width: 17px;
height: 17px;
left: calc(50% - 17px/2 - 2.5px);
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #7F88AA;



/* 四 */

position: absolute;
width: 17px;
height: 17px;
left: calc(50% - 17px/2 + 46.5px);
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #7F88AA;



/* 五 */

position: absolute;
width: 16px;
height: 17px;
left: calc(50% - 16px/2 + 95px);
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #7F88AA;



/* 今 */

position: absolute;
width: 16px;
height: 17px;
left: calc(50% - 16px/2 + 144px);
top: 441px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #7F88AA;



/* Ellipse 23 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 40px;
top: 466px;

background: #FFFFFF;
border: 3px solid #D5D7F0;


/* Ellipse 24 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 85px;
top: 466px;

background: #FFFFFF;
border: 3px solid #D5D7F0;


/* Ellipse 25 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 133px;
top: 466px;

background: #FFFFFF;
border: 3px solid #D5D7F0;


/* Ellipse 26 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 181px;
top: 466px;

background: #FFFFFF;
border: 3px solid #D5D7F0;


/* Ellipse 27 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 229px;
top: 466px;

background: #FFFFFF;
border: 3px solid #D5D7F0;


/* Ellipse 28 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 280px;
top: 466px;

background: #FFFFFF;
border: 3px solid #D5D7F0;


/* Ellipse 31 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 280px;
top: 466px;

background: #FFFFFF;
border: 3px solid #3F2DFF;


/* Ellipse 29 */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 329px;
top: 466px;

border: 3px solid #D5D7F0;


/* Ellipse 30 */

box-sizing: border-box;

position: absolute;
width: 18px;
height: 29px;
left: 341px;
top: 467px;

border: 3px solid #3F2DFF;


/* 6 */

position: absolute;
width: 9px;
height: 17px;
left: 52px;
top: 474px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

color: #000000;



/* 7 */

position: absolute;
width: 9px;
height: 17px;
left: 96px;
top: 473px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

color: #000000;



/* 8 */

position: absolute;
width: 9px;
height: 17px;
left: 145px;
top: 473px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

color: #000000;



/* 9 */

position: absolute;
width: 9px;
height: 17px;
left: 193px;
top: 473px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

color: #000000;



/* 10 */

position: absolute;
width: 16px;
height: 17px;
left: 237px;
top: 473px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

color: #000000;



/* 11 */

position: absolute;
width: 14px;
height: 17px;
left: 289px;
top: 473px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

color: #000000;



/* 12 */

position: absolute;
width: 16px;
height: 17px;
left: 335px;
top: 473px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

color: #000000;



/* Group 24 */

position: absolute;
width: 132px;
height: 40px;
left: 43px;
top: 528px;



/* Rectangle 17 */

position: absolute;
width: 132px;
height: 40px;
left: 43px;
top: 528px;

background: #D2D5FF;
border-radius: 36px;


/* 去打卡 */

position: absolute;
width: 45px;
height: 18px;
left: 87px;
top: 539px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #3F2DFF;

