/* Group 13 */

position: absolute;
width: 99px;
height: 32px;
left: 121px;
top: 736px;



/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 99px;
height: 32px;
left: 121px;
top: 736px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: inset 0px 4px 10.7px #F1F4FF;
border-radius: 60px;


/* 饮食食谱 */

position: absolute;
width: 56px;
height: 20px;
left: 154px;
top: 742px;

font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height */

color: #131142;



/* meteor-icons:coffee */

position: absolute;
width: 14px;
height: 14px;
left: 133px;
top: 746px;



/* Vector */

position: absolute;
left: 8.33%;
right: 4.17%;
top: 8.33%;
bottom: 8.33%;

border: 1.5px solid #131142;


/* Group 14 */

position: absolute;
width: 99px;
height: 32px;
left: 333px;
top: 736px;



/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 99px;
height: 32px;
left: 333px;
top: 736px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: inset 0px 4px 10.7px #F1F4FF;
border-radius: 60px;


/* Group 12 */

position: absolute;
width: 76px;
height: 17px;
left: 345px;
top: 744px;



/* 中医体质 */

position: absolute;
width: 56px;
height: 17px;
left: 365px;
top: 744px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #131142;



/* meteor-icons:folder-search */

position: absolute;
width: 13px;
height: 13px;
left: 345px;
top: 745px;



/* Group */

position: absolute;
left: 8.33%;
right: 4.17%;
top: 12.5%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 50%;
right: 20.83%;
top: 45.83%;
bottom: 25%;

border: 1.5px solid #131142;


/* Vector */

position: absolute;
left: 8.33%;
right: 4.17%;
top: 12.5%;
bottom: 8.33%;

border: 1.5px solid #131142;


/* Group 15 */

position: absolute;
width: 99px;
height: 32px;
left: 12px;
top: 736px;



/* Rectangle 14 */

box-sizing: border-box;

position: absolute;
width: 99px;
height: 32px;
left: 12px;
top: 736px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: inset 0px 4px 10.7px #F1F4FF;
border-radius: 60px;


/* 运动计划 */

position: absolute;
width: 56px;
height: 20px;
left: 42px;
top: 742px;

font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height */

color: #131142;



/* mingcute:aiming-2-line */

position: absolute;
width: 16px;
height: 16px;
left: 20px;
top: 744px;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #131142;


/* Group 16 */

position: absolute;
width: 93px;
height: 32px;
left: 230px;
top: 736px;



/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 93px;
height: 32px;
left: 230px;
top: 736px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: inset 0px 4px 10.7px #F1F4FF;
border-radius: 60px;


/* 术后代餐 */

position: absolute;
width: 56px;
height: 20px;
left: 258px;
top: 743px;

font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height */

color: #131142;



/* Vector */

position: absolute;
height: 12px;
left: 59.7%;
right: 37.31%;
top: calc(50% - 12px/2 + 314px);

background: #131142;
