/* Group 28 */

position: absolute;
width: 378px;
height: 330px;
left: 12px;
top: 203px;



/* Rectangle 1 */

position: absolute;
width: 378px;
height: 330px;
left: 12px;
top: 203px;

/* Linear

卡片背景渐变
*/
background: linear-gradient(112.53deg, rgba(202, 215, 255, 0.8) -1.64%, rgba(41, 73, 255, 0.24) 97.1%);
border-radius: 16px;


/* Group 27 */

position: absolute;
width: 139px;
height: 139px;
left: 225px;
top: 225px;



/* Ellipse 15 */

box-sizing: border-box;

position: absolute;
width: 55px;
height: 55px;
left: 267px;
top: 267px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* Ellipse 14 */

box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 272px;
top: 272px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* Ellipse 16 */

box-sizing: border-box;

position: absolute;
width: 85px;
height: 85px;
left: 252px;
top: 252px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* Ellipse 17 */

box-sizing: border-box;

position: absolute;
width: 69px;
height: 69px;
left: 260px;
top: 260px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* Ellipse 18 */

box-sizing: border-box;

position: absolute;
width: 111px;
height: 111px;
left: 239px;
top: 239px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* Ellipse 19 */

box-sizing: border-box;

position: absolute;
width: 99px;
height: 99px;
left: 245px;
top: 245px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* Ellipse 20 */

box-sizing: border-box;

position: absolute;
width: 139px;
height: 139px;
left: 225px;
top: 225px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* Ellipse 21 */

box-sizing: border-box;

position: absolute;
width: 127px;
height: 127px;
left: 231px;
top: 231px;

border: 0.5px solid rgba(127, 136, 170, 0.4);


/* 邵逸夫在线减重专家 */

position: absolute;
width: 144px;
height: 19px;
left: 29px;
top: 229px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #232F77;



/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 355px;
height: 259px;
left: 22px;
top: 260px;

background: linear-gradient(180deg, rgba(241, 243, 255, 0.8) 0%, #FFFFFF 100%);
border: 1px solid #FFFFFF;
border-radius: 13px;


/* 即可定制你的专属减重计划： */

position: absolute;
width: 190px;
height: 52px;
left: 45px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* or 130% */

color: #232F77;



/* 基础信息采集 */

position: absolute;
width: 105px;
height: 16px;
left: 46px;
top: 382px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: #7F88AA;



/* 症状全面评估 */

position: absolute;
width: 105px;
height: 16px;
left: 46px;
top: 401px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: #7F88AA;



/* 健康风险分析 */

position: absolute;
width: 105px;
height: 16px;
left: 46px;
top: 420px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

color: #7F88AA;



/* Group 25 */

position: absolute;
width: 132px;
height: 24px;
left: 45px;
top: 344px;



/* Rectangle 18 */

box-sizing: border-box;

position: absolute;
width: 132px;
height: 24px;
left: 45px;
top: 344px;

opacity: 0.4;
border: 1px solid rgba(50, 104, 255, 0.77);
border-radius: 6px;


/* 服务｜个性化减重方案 */

position: absolute;
width: 110px;
height: 12px;
left: 56px;
top: 350px;

font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 12px;
/* identical to box height, or 109% */

color: #3268FF;



/* 02 */

position: absolute;
width: 19px;
height: 17px;
left: 348px;
top: 216px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: rgba(0, 0, 0, 0.3);



/* MAR */

position: absolute;
width: 23px;
height: 12px;
left: 346px;
top: 233px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;

color: rgba(0, 0, 0, 0.3);



/* Group 24 */

position: absolute;
width: 132px;
height: 40px;
left: 45px;
top: 454px;



/* Rectangle 17 */

position: absolute;
width: 132px;
height: 40px;
left: 45px;
top: 454px;

/* 按钮色 */
background: linear-gradient(92.12deg, #6574FF 6.98%, #3923FF 100.39%);
border-radius: 36px;


/* 开启智能导诊 */

position: absolute;
width: 90px;
height: 18px;
left: 66px;
top: 465px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #FFFFFF;



/* export 1 */

position: absolute;
width: 212px;
height: 212px;
left: 167px;
top: 307px;

background: url(.png);
