/* Group 23 */

position: absolute;
width: 248px;
height: 40px;
left: 12px;
top: 551px;



/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 248px;
height: 40px;
left: 12px;
top: 551px;

background: linear-gradient(180deg, #B6C0FC -168.48%, #FFFFFF 73.91%);
border: 1px solid #FFFFFF;
border-radius: 59px;


/* 通过轻断食的方法减肥健康吗？ */

position: absolute;
width: 196px;
height: 17px;
left: 45.82px;
top: 563px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Group 18 */

position: absolute;
width: 19.22px;
height: 19px;
left: 23px;
top: 562px;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 19.22px;
height: 19px;
left: 23px;
top: 562px;

background: #397EFF;
border: 1px solid #FFFFFF;
border-radius: 10px 10px 3px 10px;


/* # */

position: absolute;
width: 10.12px;
height: 17px;
left: 28.06px;
top: 563px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FFFFFF;



/* Group 29 */

position: absolute;
width: 230px;
height: 40px;
left: 12px;
top: 602px;



/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 230px;
height: 40px;
left: 12px;
top: 602px;

background: linear-gradient(180deg, #B6C0FC -168.48%, #FFFFFF 73.91%);
border: 1px solid #FFFFFF;
border-radius: 59px;


/* 日常喝咖啡能够帮助减肥吗？ */

position: absolute;
width: 196px;
height: 17px;
left: 46px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Group 18 */

position: absolute;
width: 19.22px;
height: 19px;
left: 23px;
top: 613px;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 19.22px;
height: 19px;
left: 23px;
top: 613px;

background: #397EFF;
border: 1px solid #FFFFFF;
border-radius: 10px 10px 3px 10px;


/* # */

position: absolute;
width: 10.12px;
height: 17px;
left: 28.06px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FFFFFF;



/* Group 30 */

position: absolute;
width: 193px;
height: 40px;
left: 12px;
top: 653px;



/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 193px;
height: 40px;
left: 12px;
top: 653px;

background: linear-gradient(180deg, #B6C0FC -168.48%, #FFFFFF 73.91%);
border: 1px solid #FFFFFF;
border-radius: 59px;


/* 0糖饮料真的喝不胖吗？ */

position: absolute;
width: 155px;
height: 17px;
left: 46px;
top: 665px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Group 18 */

position: absolute;
width: 19.22px;
height: 19px;
left: 23px;
top: 664px;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 19.22px;
height: 19px;
left: 23px;
top: 664px;

background: #397EFF;
border: 1px solid #FFFFFF;
border-radius: 10px 10px 3px 10px;


/* # */

position: absolute;
width: 10.12px;
height: 17px;
left: 28.06px;
top: 665px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FFFFFF;

